<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
</head>
<body>
    <section class="about">
        <div class="inner-section">
            <h1>About <span class="anim">Croeso</span></h1>
            <p>Croeso is our college ABC's annual Cultural Fest. The union members of the college 
                organize this event every year in the month of April. It started 5 years ago and since
                then it's keep going. Before the event we ask for permission from our principle and
                local police station to conduct the event peacefully. We invite neighbour colleges and 
                vendors. The invited companies make the event more attractive. All the students 
                enjoy music, technical and cultural events, food, dj etc. Vendors also earn some profit.
                During the fest students gets opportunity to learn new things. They experiances 
                memorable things in this event. Every year we are adding many new events so that 
                students can enjoy the fest more.
            </p>
        </div>
        <footer class="ft">Developer: Amalesh Adhikary (March-2021)</footer>
    </section>
</body>
</html>