<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" type="text/css" href="../static/css/event.css">
</head>
<body>
    <section class="Events">
        
        <div class="tech-events" id="div1">
            <h1 class="anim">Technical Events</h1>
            <ul>
                <li><h3>Coding Competition</h3></li>
                <div class="code">
                    <div class="img">
                        <img src="../static/images/coding.jpg" alt="coding">
                    </div>
                    <p>There will be a coding competition on 16 April 2021 at 11:00 AM.
                        You can choose your language in registration page simply by writing
                        Coding Competition(#Your Language) in registration form. A problem will be given 
                        to you on that day. The total time to solve that problem will be 1 hour.
                        Please be present before 15 mins of the starting time. You won't have to bring 
                        your laptop/pc you will get your system from college authority.
                    </p>
                    <button class="btn"><a href="register">Register</a></button>
                </div>
                <li><h3>CAD Design</h3></li>
                <div class="cad">
                    <div class="img">
                        <img src="../static/images/cad.jpg">
                    </div>
                    <p>The CAD Design will held on 16 April 2021 at 01:00 PM.
                        In this event there will be a member from organizer commitee who will be the invigilator.
                        If you want to form a group to Participate then please register only one person from the group
                        and write group members name in the name field i.e (Full Name- your name, your friends name)
                        in email field and Phone no. field write your email address only in the registration form. 
                        Be present 15 minutes before the event and collect your entry card. You will be given the topic
                        at the starting of the event. Please do not use your phone during the event. The results will be 
                        declared on 17 April 2021. The total time will be 2 hours there will be a 10 minutes break.
                        For more info feel free to contact us.
                    </p>
                    <button class="btn"><a href="register">Register</a></button>
                </div>
                <li><h3>Workshop</h3></li>
                <div class="workshop">
                    <div class="img">
                        <img src="../static/images/workshops.jpg" alt="workshop">
                    </div>
                    <p>There will be a workshop on 15 April 2021 at 10:00 AM.
                        The workshop will be on Tricopter. The workshop will be held by the four persons team from IIT Kharagpur.
                        They will teach Participants how to make a tricopter with every details. You can participate by filling the 
                        registration form. 
                    </p>
                    <button class="btn"><a href="register">Register</a></button>
                </div>
                <li><h3>Game Development</h3></li>
                <div class="game-dev">
                    <div class="img">
                        <img src="../static/images/game.jpg" alt="Game-dev">
                    </div>
                    <p>For the first time in our college fest we are organizing a game development event.
                        In this event you have to bring your own made pc/android game. There will be a judgment panel 
                        who will select the top 5 games among the participants The winners will be awarded by the organizing
                        commitee. To participate please fill the registration form in the registration page with valid details
                        You need to submit your project within 15 April 2021. The result will be published on 18 April 2021.
                    </p>
                    <button class="btn"><a href="register">Register</a></button>
                </div>
                <li><h3>Tech Quiz</h3></li>
                <div class="tech-quiz">
                    <div class="img">
                        <img src="../static/images/techquiz.jpg" alt="techquiz">
                    </div>
                    <p>There will be a tech quiz event on 15 April 2021 at 01:00 PM.
                        The topic of the quiz will be Engineering. You have to participate in a group of 2-5 people.
                        To participate in registration form write your and group members name in place of full name.
                        Write one of your group member's or your email address and phone no. Be present at campus 10 minutes 
                        before the starting time.
                    </p>
                    <button class="btn"><a href="register">Register</a></button>
                </div>
                <li><h3>Robotics</h3></li>
                <div class="robotics">
                    <div class="img">
                        <img src="../static/images/robotics.jpg" alt="robotics">
                    </div>
                    <p>In this event you have to bring your robots on 15 April 2021 at 03:00 PM.
                        You have to write the name of the robot, working principles, your name etc. in a paper and bring it with you.
                        This will be like an exhibition. Visitors will ask you few questions please be polite with them.
                        The visitors will vote to decide the winner. The exhibition will conclude at 08:00 PM. You will get time 
                        for a short brake.

                    </p>
                    <button class="btn"><a href="register">Register</a></button>
                </div>
            </ul>
        </div>
        <div class="cult-events" id="div2">
            <h1 class="anim1">Cultural Events</h1>
            <ul>
                <li><h3>Dance</h3></li>
                <div class="dance">
                    <div class="img">
                        <img src="../static/images/dance.jpg" alt="Dance">
                    </div>
                    <p>The dance competition will be held on 16 and 17 April 2021 at 07:00 PM.
                        Be present during the event hours. Steps to participate => Click the below button 
                        => Fill the fields correctly => Submit. There will be 2 rounds, from the 1st round
                        finalists will be selected on 16th April, in final round finalists will perform 
                        and 5 winners will be selected by the commitee.
                    </p>
                    <button class="btn1"><a href="register">Register</a></button>
                </div>
                <li><h3>Drama</h3></li>
                <div class="drama">
                    <div class="img">
                        <img src="../static/images/drama.jpg" alt="Drama">
                    </div>
                    <p>Drama event will be held on 17th and 18th April 2021 at 05:00 PM.
                        The duration will be half an hour maximum for each group. To participate in this event
                        write your drama group name in registration form in place of full name. 
                        Click the below button to participate.
                    </p>
                    <button class="btn1"><a href="register">Register</a></button>
                </div>
                <li><h3>Photography</h3></li>
                <div class="photograph">
                    <div class="img"><img src="../static/images/photography.jpg" alt="Photography"></div>
                    <p>In this event students have to participate via registration form. 
                        After participation participants will get an email from the organizing commitee to submit 
                        the photograph clicked by them. The last date of submission will be provided in the email.
                        The results will be published on 18th April 2021. To participate click the below button 
                        and fill the registration form with corect information.
                    </p>
                    <button class="btn1"><a href="register">Register</a></button>
                </div>
                <li><h3>Painting</h3></li>
                <div class="painting">
                    <div class="img">
                        <img src="../static/images/paint.jpg" alt="Art">
                    </div>
                    <p>This event will held on 18th April 2021 at 11:00 AM.
                        Students will need to register first. Registered students will get an email 
                        from the commitee.The duration of this event will be of 1 hour. Participants will get
                        the room no. and id in the same mail. There will be 5 winners from this event, winners
                        winners will be rewarded during at the result publishing time. To register please click
                        the below link.  
                    </p>
                    <button class="btn1"><a href="register">Register</a></button>
                </div>
            </ul>
        </div>
        <footer class="footer">
            <p>Developer: Amalesh Adhikary (March-2021)</p>
        </footer>
    </section>
</body>
</html>